**.DS_Store
# -------------------------------------------------------------------------- #
#          .gitignore Python Bones - Copyright (c) 2021  Rye Miller          #
# -------------------------------------------------------------------------- #

/.idea/
/test/build/